/*
font-family: 'Zilla Slab Highlight', cursive;
font-family: 'Zilla Slab', serif;
font-family: 'Lato', sans-serif;
*/
body {
	font-family: 'Lato', sans-serif;
}

.title {
	font-family: 'Zilla Slab Highlight', cursive;
	font-size:3rem;
	text-align:left;
}

.sec-title {
	font-family: 'Zilla Slab', serif;
	float:left;
}

/* Select Box */
#province, #parties {
	height:5vh;
}

#province {
	clear:left;
	margin-left:30px;
	margin-top:8px;
}
