/*TEMP*/
.temp-size {
  font-size: 1rem !important; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased; }

.container-fluid {
  padding-right: 28px;
  padding-left: 28px; }

.nav-bar--party {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25); }

.page-heading {
  font-size: 2.7rem;
  font-family: "Zilla Slab Highlight", serif;
  color: #fff;
  font-weight: 700; }

.section-heading {
  font-size: 2.1rem;
  color: #000;
  font-weight: 600;
  font-family: "Zilla Slab", serif;
  margin-bottom: 60px; }

.card-heading {
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Zilla Slab", serif;
  margin-bottom: 23px; }

.color--liberal {
  color: #D71920;
  fill: #D71920; }

/*HERO SECTION*/
.parties-hero {
  width: 100%; }

.parties-hero--liberal {
  background-image: url("../../img/parties/liberals_hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

@media (max-width: 767px) {
  .parties-hero--liberal {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/parties/liberals_hero.jpg"); } }

.parties-information {
  margin-top: 19vw;
  margin-bottom: 60px;
  max-width: 100%; }

.parties-information__description {
  color: #fff;
  font-size: 1.2rem;
  margin-top: 25px;
  max-width: 60%; }

.parties-information__status {
  max-width: 980px;
  width: 100%; }

.party-status {
  margin-top: 30px;
  color: #fff;
  margin-bottom: 0; }

.party-status__heading {
  font-size: 0.75rem;
  font-weight: 900;
  margin-bottom: 20px;
  text-transform: uppercase; }

.party-status__p {
  font-size: 1.15rem;
  font-weight: 800;
  margin-bottom: 0; }

.party-social-icn {
  margin-right: 18px; }

.party-status__bar {
  width: 300px;
  height: 24px;
  background: rgba(54, 54, 54, 0.6); }

@media (max-width: 991px) {
  .party-status__bar {
    width: 100%; } }

@media (max-width: 767px) {
  .party-status--members {
    width: 80%;
    max-width: 600px; }
  .party-status--social {
    margin-left: 35px; } }

.member-cal {
  width: 50%;
  height: 100%; }

.member-cal--liberal {
  background: #D71920; }

.member-cal__number {
  font-weight: 800;
  margin-top: -2px;
  margin-right: 10px;
  font-size: 0.875rem; }

.container--party_page {
  margin-top: 90px; }

.party-policies {
  width: 75%; }

@media (max-width: 1199px) {
  .party-policies {
    width: 67%; } }

@media (max-width: 991px) {
  .party-policies {
    width: 100%; } }

.party-policies__party-cards {
  margin-top: 55px; }

.no-gutters > .policy {
  padding-right: 45px;
  margin-bottom: 50px; }

.policy {
  flex-grow: 0;
  flex-basis: 440px;
  min-height: 270px; }

@media (max-width: 1700px) {
  .policy {
    flex-basis: 50%; } }

@media (max-width: 767px) {
  .policy {
    flex-basis: 100%; } }

.policy__card {
  width: 100%;
  height: 100%;
  padding: 45px 25px;
  border: 1px solid #D71920; }

.card__icn {
  margin: -0.5px 16px 0 0;
  width: 24px;
  height: 24px;
  background-size: contain; }

.card__icn--new {
  width: 21px; }
