/*TEMP*/
.temp-size {
  font-size: 1rem !important; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased; }

.container-fluid {
  padding-right: 20px;
  padding-left: 20px; }

.nav-bar--party {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25); }

.page-heading {
  font-size: 2.7rem;
  font-family: "Zilla Slab Highlight", serif;
  color: #fff;
  font-weight: 700; }

.section-heading {
  font-size: 2rem;
  color: #000;
  font-weight: 600;
  font-family: "Zilla Slab", serif;
  margin-bottom: 65px; }

.card-heading {
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Zilla Slab", serif;
  margin-bottom: 23px; }

.section-small-heading {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Zilla Slab", serif;
  margin-bottom: 78px;
  margin-right: 45px; }

.party-history__history-heading {
  font-size: 1.18rem;
  font-weight: 600;
  width: 60%;
  margin-bottom: 13px; }

.color--liberal {
  color: #D71920;
  fill: #D71920; }

.border-right--liberal {
  border-right: 1.5px solid #D71920; }

.background--liberal {
  background-color: #D71920; }

/*HERO SECTION*/
.parties-hero {
  width: 100%; }

.parties-hero--liberal {
  background-image: url("../../img/parties/liberals_hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

@media (max-width: 767px) {
  .parties-hero--liberal {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/parties/liberals_hero.jpg"); } }

.parties-information {
  margin-top: 19vw;
  margin-bottom: 60px;
  max-width: 100%; }

.parties-information__description {
  color: #fff;
  font-size: 1.2rem;
  margin-top: 25px;
  max-width: 60%; }

.parties-information__status {
  max-width: 980px;
  width: 100%; }

.party-status {
  margin-top: 30px;
  color: #fff;
  margin-bottom: 0; }

.party-status__heading {
  font-size: 0.75rem;
  font-weight: 900;
  margin-bottom: 20px;
  text-transform: uppercase; }

.party-status__p {
  font-size: 1.15rem;
  font-weight: 800;
  margin-bottom: 0; }

.party-social-icn {
  margin-right: 18px; }

.party-status__bar {
  width: 300px;
  height: 24px;
  background: rgba(54, 54, 54, 0.6); }

@media (max-width: 991px) {
  .party-status__bar {
    width: 100%; } }

@media (max-width: 767px) {
  .party-status--members {
    width: 80%;
    max-width: 600px; }
  .party-status--social {
    margin-left: 35px; } }

.member-cal {
  width: 50%;
  height: 100%; }

.member-cal--liberal {
  background: #D71920; }

.member-cal__number {
  font-weight: 800;
  margin-top: -2px;
  margin-right: 10px;
  font-size: 0.875rem; }

.container--party_page {
  margin-top: 90px; }

.party-policies {
  flex-basis: 75%; }

@media (max-width: 1800px) {
  .party-policies {
    flex-basis: 65%; } }

@media (max-width: 991px) {
  .party-policies {
    flex-basis: 50%; } }

.party-policies__party-cards {
  margin-top: 55px; }

.no-gutters > .policy {
  padding-right: 40px;
  margin-bottom: 45px; }

.policy {
  flex-grow: 0;
  flex-basis: 440px;
  min-height: 270px; }

@media (max-width: 1800px) {
  .policy {
    flex-basis: 50%; } }

@media (max-width: 991px) {
  .policy {
    flex-basis: 100%; } }

.policy__card {
  width: 100%;
  height: 100%;
  padding: 45px 20px;
  border: 1px solid #D71920; }

.card__icn {
  margin: -0.5px 16px 0 0;
  width: 24px;
  height: 24px;
  background-size: contain; }

.card__icn--new {
  width: 21px; }

.party-history {
  flex-grow: 1;
  width: 25%; }

@media (max-width: 1800px) {
  .party-history {
    width: 30%; } }

@media (max-width: 991px) {
  .party-history {
    width: 50%; } }

.party-history__content {
  width: 100%;
  padding: 30px 75px 0 0;
  position: relative; }

.history-border {
  height: 100%;
  width: 2px;
  z-index: -3;
  top: 0;
  left: 0;
  right: 0;
  transform: translate(50px);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  position: absolute; }

.party-history__paragraph {
  width: 60%;
  position: relative; }

.party-history__year {
  position: absolute;
  width: 73px;
  top: 0;
  left: 0;
  right: 0;
  transform: translate(117px);
  margin-left: auto;
  margin-right: auto; }

.party-history__bit {
  position: relative;
  margin-bottom: 75px; }

.party-history__marker {
  width: 14px;
  margin-top: 5px;
  margin-right: 10px;
  height: 14px;
  border-radius: 50%; }

.party-history__date {
  font-weight: 700;
  margin-left: 7px; }
